# Ignorar datos (son pesados y privados)
data/

# Ignorar modelos entrenados (pesados)
models/*.joblib

# Ignorar archivos de sistema y entorno python
venv/
.env
.DS_Store
__pycache__/
*.ipynb_checkpoints